@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-family {
  font-family: "Manrope", sans-serif;
}

.blue-shadow {
  box-shadow: rgba(234, 238, 251, 1) 0px 8px 24px;
}

/* ------- range slider ------- */
/* Thumb: for Chrome, Safari, Edge */
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 9999px;
  background: #10d5c2;
  box-shadow: none;
  filter: drop-shadow(5px 5px 10px #10d5c2);
}

/* Thumb: for Firefox */
.thumb::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 9999px;
  background: #10d5c2;
  box-shadow: none;
  filter: drop-shadow(5px 5px 10px #10d5c2);
}
